$highlightcolor: navy;

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2 {
  margin: 2% auto;
  text-align: center;
}

button {
  border: 2px solid $highlightcolor;
  padding: 15px;
}

.pets-wrapper {
  display: flex;

  .cat,
  .dog {
    width: 50%;
    text-align: center;
  }
}

.cat-image, .dog-image{
  width: 200px;
  margin: auto;
  height: 300px;
  width: 200px;
  border: 3px black solid;
 }

 .pet-info{
   text-align: left;
   margin: auto;
   width: 60%;
 }

 .cat-queue, .dog-queue {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  border: 4px black solid;
  margin: 5% auto;
  width: 60%;

}

ul{
  padding: 0;
}

.thumbnail {
  flex: 20%;
  list-style-type: none;
  margin-top: 4px;
}

.thumbnail img {
  height: 60px;
  width: 60px;
}

.pet-info {
  background: rgb(238, 238, 238);
  padding: 10px;
  margin: 5% auto;
  border-radius: 15px;
}